<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  
              <p>We are part of <a href="https://www.galileo.edu/">Galileo University</a>.</p>
            

		   <p>  </p>
            		  
            
		</div>
		
		<div class="col-sm-4">
		  Contact:<br />
		  4A Calle 7a. Avenida, calle Dr. Eduardo Suger Cofiño<br />
		  Guatemala City<br />
		  Guatemala<br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
